@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One:100,200,300,400,500,600,700&display=swap");

/*------Font and Background Image Styling-*/
/*------See ReadME for source of some body styling-*/
body {
    margin: 0;
    font-family: 'Racing Sans One', sans-serif;
    background: url("../images/background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*------Title Text Styling-*/
.title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
}

/*------Audio Toggle Styling-*/
.audio-toggle {
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.audio-toggle .audio-status {
    text-decoration: underline;
    font-weight: 900;
    font-size: 24px;
}

/*------Game Information Styling-*/
.info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: #fff;
    font-size: 25px;
}

.score {
    text-align: center;
}

/*------ Screen Size Message-*/
.screen-size {
    display: none;
    font-size: 20px;
    text-align: center;
}

/*------Game Container Styling-*/
.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    justify-content: center;
    margin: 20px;
    perspective: 500px;
}

/*------Card Styling-*/
.card {
    position: relative;
    height: 110px;
    width: 220px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 0.5rem;
}

.card-back:hover {
    height: 110px;
    width: 220px;
    border-radius: 0.5rem;
    background: linear-gradient(-45deg, #b2a9e5 15%, #2b94e5 100%);
}

.f1-logo {
    position: absolute;
    height: 110px;
    width: 220px;
}

.card-back:hover .f1-logo {
    transform: scale(1.2);
    transition: 100ms ease-in-out;
}

.card-front {
    transform: rotateY(180deg);
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.f1-car {
    padding-top: 20px;
    height: 61px;
    width: auto;
}

.card.matched .card-front {
    animation: match 1500ms forwards;
}


/*------Overlay Styling-*/
.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
}

.overlay-text-small div {
    font-size: 40px;
    text-align: center;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: on-load 500ms forwards;
}

#saved-scores,
#instructions,
#contact-form {
    display: none;
    text-align: center;
    font-size: 26px;
}

/*------Contact Form-*/
.form {
    font-size: 26px;
}

.btn-contact {
    font-size: 20px;
    font-family: 'Racing Sans One', sans-serif;
}

/*-----Contact Form Response Messages-*/
#success,
#failed {
    display: none;
}

#success.visible,
#failed.visible {
    display: flex;
    text-align: center;
    font-size: 26px;
}

/*------Footer Styling-*/
.footer-text {
    text-align: center;
    color: #000000;
}

/*------Overlay Animation-*/
@keyframes on-load {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0px;
    }

    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 75px;
    }
}

/*------Card Match Animation-*/
@keyframes match {
    from {
        background-color: rgba(255, 255, 255);
        border-radius: 50%;
    }

    to {
        background-color: rgb(22, 163, 83);
        border-radius: 0.5rem;
    }
}

/*------ Screen Size Message-*/
@media (max-width: 1000px) and (orientation: portrait) {
    .screen-size {
        display: flex;
    }
}

/*------Game and Info Container Mobile-*/
@media (max-width: 500px) {
    .game-container {
        grid-template-columns: repeat(1, auto);
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 501px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 800px) {
    .game-container {
        grid-template-columns: repeat(3, auto);
    }

    .info-container {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .game-container {
        grid-template-columns: repeat(4, auto);
    }

    .info-container {
        flex-direction: row;
        align-items: center;
    }
}

/*------Overlay Mobile-*/
@media (max-width: 675px) {
    .overlay-text {
        text-align: center;
    }
}

@media (max-height: 710px) {
    .scroll {
        overflow-y: scroll
    }
}