@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One:100,200,300,400,500,600,700&display=swap");

body {
    margin: 0;
    font-family: 'Racing Sans One', sans-serif;
    background: url("../images/background-image.jpg") no-repeat 50% 0%;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
}

.game-info {
    color: #fff;
    font-size: 25px;
}

.card {
    height: 175px;
    width: 100px;
    background-color: #fff;
    border-radius: 0.5rem;
}

.info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    justify-content: center;
    margin: 20px;
}

.f1-logo {
    width: 100px;
    height: 175px;
}